.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-calendar-heatmap .color-scale-1 { fill: #f70808; }
.react-calendar-heatmap .color-scale-2 { fill: #f75b07e2; }
.react-calendar-heatmap .color-scale-3 { fill: #ffa200; }
.react-calendar-heatmap .color-scale-4 { fill: #ffc505; }
.react-calendar-heatmap .color-scale-5 { fill: #d9fa01d4; }
.react-calendar-heatmap .color-scale-6 { fill: #68bd1e; }
.react-calendar-heatmap .color-scale-7 { fill: #0a410d; }
