* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Header {
  font-size: 30px;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: tasks;
}

.item3 {
  grid-area: calendar;
}

.item4 {
  grid-area: notes;
}

.item5 {
  grid-area: timer;
}

.item6 {
  grid-area: activity;
}

.gridContainer {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "tasks tasks calendar"
    "tasks tasks calendar"
    "tasks tasks timer"
    "notes notes timer"
    "notes notes ."
    "notes notes ."
    "activity activity activity";
  gap: 10px;
}

/* TO DO LIST ----------------------------------------------------------------------------- */
#toDoListContainer {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* width: 100%; */
}

.newTaskForm {
  border: 1px solid cyan;
  padding: 20px;
}

#taskList {
  border: 1px solid gold;
}

.task {
  background-color: teal;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #333;
}

.taskName {
  width: 150px;
  text-align: left;
}

.deleteButton {
  background-color: teal;
  border: none;
  color: white;
}

.deleteButton:hover {
  color: tomato;
}

/* CALENDAR -----------------------------------------------------------------------------  */
.calendarContainer {
  margin: 20px;
}

/* NOTES -----------------------------------------------------------------------------  */
.notesContainer {
  margin: 20px;
}

/* TIME TRACKER --------------------------------------------------------------------------- */
.timeTrackerContainer img {
  width: 100%;
}

/* ACTIVITY LEVEL TRACKER ----------------------------------------------------------------- */
.activityTrackerContainer img {
  width: 100%;
}
