* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "PrintClearly";
  src: local("PrintClearly"),
    url(./fonts/PrintClearly-GGP.ttf) format("truetype");
}

@font-face {
  font-family: "TimeBurner";
  src: local("TimeBurner"), url(./fonts/Timeburner-xJB8.ttf) format("truetype");
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: TimeBurner;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/18.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 30px;
  /* padding: 30px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Header {
  font-size: 50px;
  color: rgb(121, 46, 75);
  text-align: center;
  padding: 30px;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: tasks;
}

.item3 {
  grid-area: calendar;
}

.item4 {
  grid-area: notes;
}

.item5 {
  grid-area: timer;
}

.item6 {
  grid-area: activity;
}

.gridContainer {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "tasks tasks calendar"
    "tasks tasks calendar"
    "tasks tasks timer"
    "notes notes timer"
    "notes notes ."
    "notes notes ."
    ". activity activity";
  gap: 10px;
}

#taskListContainerContainer,
.calendarContainer,
.notesContainer,
.timeTrackerContainer,
.activityTrackerContainer {
  border: 1px solid yellow;
  box-shadow: 0 0 2px yellow, 0 0 4px yellow;
}

/* TO DO LIST ----------------------------------------------------------------------------- */
#taskListContainerContainer {
  border-radius: 25px;
  background-color: rgb(187, 144, 136);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.newTaskFormContainer {
  display: flex;
  gap: 20px;
  width: 100%;
  background-color: #8a7484;
}

.newTaskForm {
  /* border: 1px solid cyan; */
  padding: 20px;
  text-align: center;
}

#taskList {
  /* border: 1px solid gold; */
}

.task {
  background-color: rgb(177, 151, 160);
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 2px;
  border: 1px solid #333;
  box-shadow: 0 0 3px rgb(94, 94, 94);
}

.taskName {
  min-width: 120px;
  text-align: left;
}

#selectList {
  background-color: rgb(247, 212, 201);
  border-radius: 6px;
  padding: 6px;
}

.taskName.completed {
  text-decoration: line-through;
  font-style: italic;
  color: rgb(94, 92, 92);
  font-weight: normal;
}

.deleteButton {
  background-color: rgb(177, 151, 160);
  border: none;
  color: rgb(247, 221, 210);
}

.deleteButton:hover {
  color: tomato;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* create custom checkbox appearance */
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;

  /* background-color only for content */
  background-clip: content-box;
  border: 1.5px solid rgb(247, 221, 210);
  border-radius: 6px;
  background-color: rgb(247, 221, 210);
  margin-left: 15px;
  margin-right: 15px;
}

input[type="checkbox"]:checked {
  background-color: rgb(145, 39, 94);
}

input[type="checkbox"]:focus {
  outline: none !important;
}

/* CALENDAR -----------------------------------------------------------------------------  */
.calendarContainer {
  margin: 20px;
  /* border: 2px solid green; */
  background-color: #ba8f9e;
  border-radius: 25px;
  padding: 30px;
}

.item3 {
  text-align: center;
}

/* .calendar {
  color: white;
} */

/* NOTES -----------------------------------------------------------------------------  */
.notesContainer {
  background-color: rgb(242, 207, 185);
  padding: 30px;
  border-radius: 25px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TIME TRACKER --------------------------------------------------------------------------- */
.timeTrackerContainer {
  width: 100%;
  /* border: 1px solid red; */
  background-color: rgb(240, 187, 187);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.timeTrackerContainer input {
  border-radius: 6px;
  padding: 6px;
}

.timeTrackerContainer .btn {
  border-radius: 8px;
  padding: 6px;
}

.timeTrackerContainer .btn:hover {
  background-color: rgb(94, 93, 93);
}

.btn.start,
.btn.resume {
  background-color: rgb(199, 249, 124);
}

.btn.pause {
  background-color: tomato;
}

.btn.save {
  background-color: rgb(28, 196, 196);
}

.timedActivityOutputContainer {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  margin-top: 10px;
}

.timedActivity {
  display: flex;
  justify-content: space-between;
}

/* ACTIVITY LEVEL TRACKER ----------------------------------------------------------------- */

.activityTrackerContainer {
  /* border: 1px solid black; */
  background-color: rgb(237, 214, 210);
  border-radius: 25px;
  padding: 30px;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #f70808;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #f75b07e2;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #ffa200;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #ffc505;
}
.react-calendar-heatmap .color-scale-5 {
  fill: #d9fa01d4;
}
.react-calendar-heatmap .color-scale-6 {
  fill: #68bd1e;
}
.react-calendar-heatmap .color-scale-7 {
  fill: #0a410d;
}

/* MEDIA QUERIES ----------------------------------------------------------------- */
@media only screen and (max-width: 1100px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "tasks"
      "calendar"
      "timer"
      "notes"
      "activity";
    gap: 10px;
  }
}
