* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "PrintClearly";
  src: local("PrintClearly"),
    url(./fonts/PrintClearly-GGP.ttf) format("truetype");
}

@font-face {
  font-family: "TimeBurner";
  src: local("TimeBurner"), url(./fonts/Timeburner-xJB8.ttf) format("truetype");
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: TimeBurner;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/18.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 30px;
  /* padding: 30px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: tasks;
}

.item3 {
  grid-area: calendar;
}

.item4 {
  grid-area: notes;
}

.item5 {
  grid-area: timer;
}

.item6 {
  grid-area: heatmap;
}

.gridContainer {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "tasks tasks calendar"
    "tasks tasks calendar"
    "tasks tasks timer"
    "notes notes timer"
    "notes notes timer"
    "notes notes ."
    "heatmap heatmap heatmap";
  gap: 10px;
}

#taskListContainerContainer,
.calendarContainer,
.notesContainer,
.timeTrackerContainer,
.activityTrackerContainer,
.googleCalendarContainer,
Header {
  border: 1px solid yellow;
  border-radius: 25px;
  box-shadow: 0 0 2px yellow, 0 0 3px yellow;
  padding: 20px;
}

input {
  border-radius: 6px;
  padding: 6px;
  font-size: 18px;
  font-family: TimeBurner;
  background-color: rgb(248, 236, 233);
}

input::placeholder {
  font-style: italic;
}

.btn {
  border-radius: 15px;
  padding: 5px;
  font-size: 14px;
  font-family: TimeBurner;
  background-color: #f9e8d7;
}

.btn a {
  color: rgb(138, 85, 94);
}

.btn.link,
.btn.return {
  width: 50px;
  margin: 2px;
}

.btn.link:hover,
.btn.return:hover {
  background-color: #f0e88d;
}

/* HEADER ----------------------------------------------------------------------------- */
Header {
  font-size: 50px;
  color: rgb(121, 46, 75);
  text-align: center;
  padding: 30px;
  background-color: #f9e6df;
}

/* TO DO LIST ----------------------------------------------------------------------------- */
#taskListContainerContainer {
  background-color: rgb(187, 144, 136);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.newTaskFormContainer {
  display: flex;
  gap: 20px;
  width: 100%;
  background-color: #8a7484;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 3px yellow;
}

.newTaskForm {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid cyan; */
  padding: 20px;
  /* text-align: center; */
  display: flex;
  width: 100%;
}

.newTaskForm input {
  width: 40%;
}

.btn.submit {
  width: 80px;
  padding: 10px;
}

#taskList {
  /* border: 1px solid gold; */
}

.task {
  background-color: rgb(177, 151, 160);
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 2px;
  border: 1px solid #333;
  box-shadow: 0 0 3px yellow;
}

.taskName {
  min-width: 120px;
  text-align: left;
}

#selectList,
#priority {
  background-color: rgb(247, 212, 201);
  border: 1px solid #333;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: TimeBurner;
  /* font-size: 16px;
  font-weight: bold; */
}

.taskName.completed {
  text-decoration: line-through;
  font-style: italic;
  color: rgb(94, 92, 92);
  font-weight: normal;
}

.deleteButton {
  background-color: rgb(177, 151, 160);
  border: none;
  color: rgb(247, 221, 210);
}

.deleteButton:hover {
  color: tomato;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* create custom checkbox appearance */
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;

  /* background-color only for content */
  background-clip: content-box;
  border: 1.5px solid rgb(247, 221, 210);
  border-radius: 6px;
  background-color: rgb(247, 221, 210);
  margin-left: 15px;
  margin-right: 15px;
}

input[type="checkbox"]:checked {
  background-color: rgb(145, 39, 94);
}

input[type="checkbox"]:focus {
  outline: none !important;
}

/* CALENDAR -----------------------------------------------------------------------------  */
.calendarContainer {
  margin: 20px;
  /* border: 2px solid green; */
  background-color: #ba8f9e;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.date-range {
  color: #333;
  font-style: italic;
  text-align: center;
}

/* GOOGLE CALENDAR -----------------------------------------------------------------------  */
.googleCalendarContainer {
  background-color: #ba8f9e;
  width: 60vh;
}

.googleCalendar {
  border-radius: 25px;
}

.g-cal {
}

/* NOTES -----------------------------------------------------------------------------  */
.notesContainer {
  background-color: rgb(242, 207, 185);
  margin: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  color: rgb(72, 51, 51);
}

/* TIME TRACKER --------------------------------------------------------------------------- */
.timeTrackerContainer {
  background-color: rgb(230, 194, 194);
  display: flex;
  flex-direction: column;
  color: rgb(99, 52, 99);
  max-width: 400px;
}

.btn.start:hover,
.btn.resume:hover,
.btn.pause:hover,
.btn.save:hover,
.btn.reset:hover {
  background-color: rgb(165, 152, 152);
}

.btn.reset:disabled {
  pointer-events: none;
}

.btn.start,
.btn.resume {
  background-color: rgb(216, 240, 179);
}

.btn.pause {
  background-color: rgb(240, 160, 146);
}

.btn.save {
  background-color: rgb(187, 141, 170);
}

.timedActivityOutputContainer {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  min-height: 300px;
  margin-top: 10px;
  font-size: 18px;
  padding: 20px;
}

.timedActivity {
  display: flex;
  justify-content: space-between;
}

/* ACTIVITY LEVEL TRACKER ----------------------------------------------------------------- */
.activityTrackerContainer {
  /* border: 1px solid black; */
  background-color: rgb(237, 214, 210);
  width: 100%;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #f70808;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #f75b07e2;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #ffa200;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #ffc505;
}
.react-calendar-heatmap .color-scale-5 {
  fill: #d9fa01d4;
}
.react-calendar-heatmap .color-scale-6 {
  fill: #68bd1e;
}
.react-calendar-heatmap .color-scale-7 {
  fill: #0a410d;
}

/* MEDIA QUERIES ----------------------------------------------------------------- */
@media only screen and (max-width: 1100px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "tasks"
      "calendar"
      "timer"
      "notes"
      "activity";
    gap: 10px;
  }
}
